body {
  padding: 25px;
  background-color: black;
  color: white;
  font-size: 25px;
}

.burn {
  background-color: blueviolet;
  color: cyan;
}
.segment-button:not(:first-of-type) {
   max-width: 30px;
   line-height: 30px;
   height:30px;
}
